<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <script src="/scripts/photo.js"></script>
</head>

<body>
    <input id="id" value="1">
    <button type="button" onclick="Show()">Завантажити</button>
    <img id="photoimg" src="#">
</body>

</html>